<mat-tab-group>
    <mat-tab label="Show All Teachers">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="Id">
                <th mat-header-cell *matHeaderCellDef> Id</th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>
              <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef> Name</th>
                <td mat-cell *matCellDef="let element"> {{element.teacher_name}} </td>
              </ng-container>
              <ng-container matColumnDef="Course">
                <th mat-header-cell *matHeaderCellDef> Course</th>
                <td mat-cell *matCellDef="let element"> {{element.course}} </td>
              </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-tab>

    <mat-tab label="Add Teacher">
        <div class="formfield">
            <mat-card>
                <mat-card-title>ONLINE SCHOOL FORM</mat-card-title>
                <mat-card-content>
                    <mat-form-field>
                        <mat-label>Student Name</mat-label>
                        <input matInput  name="name" [(ngModel)]="name">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Course Name</mat-label>
                        <input matInput name="course" [(ngModel)]="course">
                    </mat-form-field>
                    <br>

                </mat-card-content>
                <mat-card-footer>
                    <button *ngIf="isUpdate" mat-raised-button color="primary" (click)="update()">UPDATE</button>
                    <button *ngIf="!isUpdate" mat-raised-button color="primary" (click)="add()">ADD</button></mat-card-footer>
            </mat-card>
            
        </div>
    </mat-tab>
    <mat-tab label="Edit Teachers">
        
    </mat-tab>
</mat-tab-group>
<!-- <div class="teacher">
    <div class="row">
        <div class="col-md-3">
            <p class="title">ADD NEW TEACHER</p>
            <form action="" class="form">
                <div class="form-group">
                    <label for="">Teacher Name</label>
                    <input type="text" class="form-control" placeholder="Enter teacher name" name="name"[(ngModel)]="name">
                </div>

                <div class="form-group">
                    <label for="">Course</label>
                    <input type="text" class="form-control" placeholder="Enter teacher course" name="course"[(ngModel)]="course">
                </div>

                <br>
                <input type="submit" *ngIf="!isUpdate" class="btn btn-sm btn-outline-success" (click)="add()" value="ADD">
                <input type="submit" *ngIf="isUpdate" class="btn btn-sm btn-outline-warning" (click)="update()" value="UPDATE">

            </form>
        </div>
        <div class="col-md-9">
            <p class="title">TEACHERS LIST</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Teacher ID</th>
                        <th>Teacher Name</th>
                        <th>Course</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let teacher of teachers;let i=index">
                        <td>{{i+1}}</td>
                        <td>{{teacher.id}}</td>
                        <td>{{teacher.teacher_name}}</td>
                        <td>{{teacher.course}}</td>
                        <td>
                            <button class="btn btn-sm btn-warning" (click)="edit(teacher.id,teacher.teacher_name,teacher.course)">Edit</button>&nbsp;
                            <button class="btn btn-sm btn-danger">Delete</button>

                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> -->
