<div class="teacher">
    <div class="row">
        <div class="col-md-3">
            <p class="title">ADD NEW TEACHER</p>
            <form action="" class="form">
                <div class="form-group">
                    <label for="">Teacher Name</label>
                    <input type="text" class="form-control" placeholder="Enter teacher name" name="name"[(ngModel)]="name">
                </div>

                <div class="form-group">
                    <label for="">Course</label>
                    <input type="text" class="form-control" placeholder="Enter teacher course" name="course"[(ngModel)]="course">
                </div>

                <br>
                <input type="submit" *ngIf="!isUpdate" class="btn btn-sm btn-outline-success" (click)="add()" value="ADD">
                <input type="submit" *ngIf="isUpdate" class="btn btn-sm btn-outline-warning" value="UPDATE">

            </form>
        </div>
        <div class="col-md-9">
            <p class="title">TEACHERS LIST</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Teacher ID</th>
                        <th>Teacher Name</th>
                        <th>Course</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let teacher of teachers;let i=index">
                        <td>{{i+1}}</td>
                        <td>{{teacher.id}}</td>
                        <td>{{teacher.teacher_name}}</td>
                        <td>{{teacher.course}}</td>
                        <td>
                            <button class="btn btn-sm btn-warning" (click)="edit(teacher.id,teacher.teacher_name,teacher.course)">Edit</button>&nbsp;
                            <button class="btn btn-sm btn-danger">Delete</button>

                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
