<div class="down">
    <div class="header">
        <div class="row">
            <div class="col-md-6">
                <a routerLink="/">STUDENTS</a>&nbsp;
                <a routerLink="/teachers">TEACHERS</a>&nbsp;
                <a routerLink="/teachers">COURSES</a>
            </div>
            <div class="col-md-6">
                
            </div>
    
        </div>
    </div>
    
    
    <br>
    <div class="container-fluid bot">
        <router-outlet></router-outlet>
    </div>
</div>
