<div class="student">
<div class="row">
        <div class="col-md-3">
            <p class="title" *ngIf="!isUpdate">ADD NEW STUDENT</p>
            <p class="title"*ngIf="isUpdate">EDIT STUDENT</p>
            <form action="" class="form">
                <div class="form-group">
                    <label for="">Student Name</label>
                    <input type="text" class="form-control" placeholder="Enter student name" name="name" [(ngModel)]="name">
                </div>
                <div class="form-group">
                    <label for="">Course Name</label>
                    <input type="text" class="form-control" placeholder="Enter course name" name="course" [(ngModel)]="course">
                </div>
                <div class="form-group">
                    <label for="">Fee</label>
                    <input type="text" class="form-control" placeholder="Enter fees" name="fee" [(ngModel)]="fee">
                </div>
                <br>
                <input type="submit" class="btn btn-outline-success btn-sm" *ngIf="!isUpdate" value="ADD" (click)="add()">
                <input type="submit" class="btn btn-outline-warning btn-sm" *ngIf="isUpdate" value="UPDATE" (click)="update()">

            </form>
        </div>
        <div class="col-md-9">
            <p class="title">STUDENT LIST</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>No</td>
                        <td>Student ID</td>
                        <td>Student Name</td>
                        <td>Course</td>
                        <td>Fee</td>
                        <td>Action</td>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let student of students;let i=index">
                        <td>{{i+1}}</td>
                        <td>{{student.id}}</td>
                        <td>{{student.student_name}}</td>
                        <td>{{student.course}}</td>
                        <td>{{student.fee}}</td>
                        <td>
                            <button class="btn btn-sm btn-warning" (click)="edit(student.id,student.student_name,student.course,student.fee)">Edit</button>&nbsp;
                            <button class="btn btn-sm btn-danger" (click)="delete(student.id)">Delete</button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>
</div>

