.student .title{
    font-size: 20px;
    text-align: center;
    color: blue;
    
}

.formfield{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

mat-card{
    
    width: 500px;
}

mat-form-field{
    display: block;
    align-items: center;
    justify-content: center;
}
table{
    width: 100%;
}