mat-sidenav-container{
    height: calc(100vh - 65px);
}

mat-sidenav{
    margin: 16px;
    width: 200px;
    border-right: none;
    background-color: rgb(13, 13, 153);
    color: white;
    border-radius: 10px;
    /* padding: 16px; */
    text-align: center;
}

.content{
    height: calc(100vh - 98px);
    margin: 16px;
    margin-left: 32px;
    /* display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color:lightgray */
}

.logo{
    margin-top: 6px;
    margin-right: 2px;
}

.menu-button{
    width: 95%;
    font-size:1rem;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin:5px 0;
}

.menu-button mat-icon{
    margin-right: 8px;
    
}

.student{color:rgb(13, 13, 153) ;background-color: whitesmoke;}
.teacher{color:rgb(13, 13, 153) ;background-color: whitesmoke;}
.course{color:rgb(13, 13, 153) ;background-color: whitesmoke;}

